DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/cdr_lol
APP_NAME=LoL Cooldown Calculator API
APP_ENV=development
DEBUG=True
LOG_LEVEL=INFO
RIOT_DDRAGON_CDN=https://ddragon.leagueoflegends.com
